---
import Layout from "../layouts/Layout.astro";
import Wall from "../components/Wall.astro";
---

<Layout title="AOT API - Wall in maintenance">
  <main>
    <Wall />
  </main>
</Layout>

<style>
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
</style>
